<!--
<h2>The First Angular Component</h2>
<div><strong> {{header}} </strong></div>
<div>{{200 + 300}}</div>
<br>
<input type="text" [value]="header" class="form-control">
<br>
<a [href]="url">Mahesh Sabnis's BLOG</a>
<br>
<input type="button" value="Click Me" (click)="display($event)" class="btn btn-danger">
<hr>
<input type="text" [(ngModel)]="name" class="form-control">
<hr>
<input type="text" [(ngModel)]="name" class="form-control">
<hr>
<input type="text" [(ngModel)]="name" class="form-control">
<hr>
<br>
-->

<h2>Simple Angular Calculator</h2> 
<table border="1"> 
	<tr> 
		<td colspan="4"><input type="text" [value]="result"/></td> 
	</tr> 
	<tr> 
		<td><input type="button" style="width:100%" value="1" (click)="display($event)"/> </td> 
		<td><input type="button" style="width:100%" value="2" (click)="display($event)"/> </td> 
		<td><input type="button" style="width:100%" value="3" (click)="display($event)"/> </td> 
		<td><input type="button" style="width:100%" value="/" (click)="display($event)"/> </td> 
	</tr> 
	<tr> 
		<td><input type="button" style="width:100%" value="4" (click)="display($event)"/> </td> 
		<td><input type="button" style="width:100%" value="5" (click)="display($event)"/> </td> 
		<td><input type="button" style="width:100%" value="6" (click)="display($event)"/> </td> 
		<td><input type="button" style="width:100%" value="-" (click)="display($event)"/> </td> 
	</tr> 
	<tr> 
		<td><input type="button" style="width:100%" value="7" (click)="display($event)"/> </td> 
		<td><input type="button" style="width:100%" value="8" (click)="display($event)"/> </td> 
		<td><input type="button" style="width:100%" value="9" (click)="display($event)"/> </td> 
		<td><input type="button" style="width:100%" value="+" (click)="display($event)"/> </td> 
	</tr> 
	<tr> 
		<td><input type="button" style="width:100%" value="c" (click)="clear($event)"/> </td> 
		<td><input type="button" style="width:100%" value="0" (click)="display($event)"/> </td> 
		<td><input type="button" style="width:100%" value="=" (click)="solve($event)"/> </td> 
		<td><input type="button" style="width:100%" value="*" (click)="display($event)"/> </td> 
	</tr> 
</table> 